// Home

.home {
  position: relative;

  &__container {
    position: relative;
    padding: 7rem 0 2rem;
  }

  &__title {
    margin-bottom: .75rem;
    font-size: var(--biggest-font-size);

    span {
      background-image: linear-gradient(90deg, var(--second-color) 0%, var(--first-color) 100%);
      background-clip: text;
      color: transparent;
    }
  }

  &__description {
    margin-bottom: 1.5rem;
    color: var(--text-color-light);
  }

  &__button {
    display: inline-flex;

    padding: 1rem 2rem;
    border-radius: .25rem;
    background: linear-gradient(95deg, var(--second-color) 0%, var(--first-color) 100%);

    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    color: var(--text-color);

    transition: box-shadow .4s;

    &:hover {
      box-shadow: 0 8px 48px hsla(203, 71%, 25%, .5);
    }
  }

  &__group {
    position: relative;
  }

  &__images, &__data {
    display: grid;
  }

  &__images {
    &__eth {
      width: 100px;
      justify-self: center;

      img {
        filter: drop-shadow(0 4px 32px hsla(203, 71%, 60%, .5));
        animation: float-eth 4s ease-in-out infinite;
      }
    }

    &__orbe {
      width: 280px;
      justify-self: center;
    }
  }

  &__data {
    row-gap: 1.25rem;

    @include position (absolute, $t: -3rem, $r: 1.5rem);

    &__number {
      font-weight: var(--font-semi-bold);
      font-size: var(--h2-font-size);
    }

    &__subtitle {
      font-size: var(--smaller-font-size);
    }
  }

  &__footer, &__footer__time {
    display: flex;
  }

  &__footer {
    margin-top: 2.5rem;
    column-gap: 3.5rem;

    &__title, &__subtitle {
      display: block;
      font-size: var(--smaller-font-size);
    }

    &__title {
      margin-bottom: .75rem;
    }

    &__number {
      margin-bottom: .25rem;
      font-weight: var(--font-semi-bold);
      font-size: var(--h2-font-size);
    }

    &__time {
      column-gap: 1.25rem;
    }

    &__counter {
      text-align: center;
    }
  }

  // Shapes
  &__shape {
    &__small,
    &__big-1,
    &__big-2 {
      position: absolute;
      border-radius: 50%;
      filter: blur(90px);
    }

    &__small {
      size: 150px;
      background: var(--first-color);

      top: -2.5rem;
      left: -1.5rem;
    }

    &__big {
      &-1, &-2 {
        size: 250px;
      }

      &-1 {
        background: var(--first-color);
        top: 16rem;
        right: -6.5rem;
      }

      &-2 {
        background: var(--second-color);
        left: -3.5rem;
        bottom: -4rem;
      }
    }

    &__bg {
      size: 100%;
      object-fit: cover;
      mix-blend-mode: soft-light;
      opacity: .3;

      @include position (absolute, $t: 0, $l: 0);
    }
  }
}



// Animation ethereum

@keyframes float-eth {
  0% {
    transform: translateY(.5rem);
  }

  50% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(.5rem);
  }
}



// Home Media

@include max-width ('small', $media-type: screen) {
  .home {
    &__images {
      &__eth {
        width: 80px;
      }

      &__orbe {
        width: 230px;
      }
    }

    &__data {
      right: .5rem;
    }

    &__footer {
      align-items: center;
      flex-direction: column;
      row-gap: 2rem;
      text-align: center;
    }
  }
}

@include min-width ('medium', $media-type: screen) {
  .home {
    &__container {
      height: 100vh;

      display: grid;
      align-content: center;
      justify-content: center;
      grid-template-columns: repeat(2, max-content);
      gap: 2rem 4rem;
    }

    &__group {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      align-self: center;
    }
  }
}

@include min-width ('large', $media-type: screen) {
  .home {
    &__title {
      margin-bottom: 1rem;
    }

    &__description {
      margin-bottom: 3rem;
    }

    &__images {
      &__eth {
        width: 200px;
      }

      &__orbe {
        width: 500px;
      }
    }

    &__data {
      top: 3rem;
      right: 0;
      row-gap: 2.5rem;
    }

    // Shapes
    &__shape {
      &__small,
      &__big-1,
      &__big-2 {
        filter: blur(132px);
      }

      &__small {
        size: 300px;
        top: -5rem;
        left: -2rem;
      }

      &__big {
        &-1, &-2 {
          size: 400px;
        }

        &-1 {
          top: 10rem;
          right: -3.5rem;
        }

        &-2 {
          left: 14rem;
          bottom: -10rem;
        }
      }
    }
  }
}

@include min-width ('desktop', $media-type: screen) {
  .home {
    // Shapes
    &__shape {
      &__big {
        &-2 {
          left: 28rem;
        }
      }
    }
  }
}