<!-- Header -->

<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">nft.io</a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active">home</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">market</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">activity</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">community</a>
        </li>
      </ul>

      <!-- Close btn -->
      <div class="nav__close" id="nav-close">
        <i class="ri-close-line"></i>
      </div>

      <img src="@img/ethereum-img.png" alt="nav image" class="nav__img">
    </div>

    <!-- Open btn -->
    <div class="nav__open" id="nav-open">
      <i class="ri-menu-4-line"></i>
    </div>
  </nav>
</header>